*,
*::before,
*::after {
  box-sizing: border-box;
}body {
  margin: 0;
  padding: 0;
  background: #0e2035;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
